[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/true
ExecStop=/usr/local/bin/disablePcrOnRebootOrShutdown.sh
[Install]
WantedBy=multi-user.target
