[submodule "cnf-tests/submodules/metallb-operator"]
	path = cnf-tests/submodules/metallb-operator
	url = https://github.com/openshift/metallb-operator.git
[submodule "cnf-tests/submodules/sriov-network-operator"]
	path = cnf-tests/submodules/sriov-network-operator
	url = https://github.com/SchSeba/sriov-network-operator.git
[submodule "cnf-tests/submodules/cluster-node-tuning-operator"]
	path = cnf-tests/submodules/cluster-node-tuning-operator
	url = https://github.com/openshift/cluster-node-tuning-operator.git
