[submodule "cnf-tests/submodules/metallb-operator"]
	path = cnf-tests/submodules/metallb-operator
	url = https://github.com/openshift/metallb-operator.git
[submodule "cnf-tests/submodules/sriov-network-operator"]
	path = cnf-tests/submodules/sriov-network-operator
	url = https://github.com/openshift/sriov-network-operator.git
[submodule "cnf-tests/submodules/cluster-node-tuning-operator"]
	path = cnf-tests/submodules/cluster-node-tuning-operator
	url = https://github.com/openshift/cluster-node-tuning-operator.git
[submodule "ztp/resource-generator/telco-reference"]
	path = ztp/resource-generator/telco-reference
	url = https://github.com/openshift-kni/telco-reference.git
[submodule "telco5g-konflux"]
	path = telco5g-konflux
	url = https://github.com/openshift-kni/telco5g-konflux.git
