#! /bin/bash

# we need to ssh to all masters and apply changes
ADDRESSES=$(kubectl get nodes -o jsonpath='{ $.items[*].status.addresses[?(@.type=="InternalIP")].address }')
for address in $ADDRESSES; do
    # ssh into the node and execute commands
    ssh -T core@${address} <<'EOL'
        sudo sed -i 's/mirror-by-digest-only = true/mirror-by-digest-only = false/g' /etc/containers/registries.conf
        sudo systemctl restart crio
        sudo systemctl restart kubelet
EOL
done
