{{ with .Data.DiskEncryption }}{{ if eq .Type "tpm2" "nbde" -}}
apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  name: disk-encryption-{{ $.Role }}
  labels:
    machineconfiguration.openshift.io/role: {{ $.Role }}
spec:
  config:
    ignition:
      version: 3.2.0
    storage:
      luks:
        - name: root
          device: /dev/disk/by-partlabel/root
          clevis:
          {{- if and (eq .Type "tpm2") (ne .Tpm2.PCRList "") }}
            custom:
              pin: "tpm2"
              config: '{"hash":"sha256","key":"ecc","pcr_bank":"sha256","pcr_ids":"{{ .Tpm2.PCRList }}"}'
          {{- else if and (eq .Type "tpm2") (eq .Tpm2.PCRList "") }}
            tpm2: true
          {{- else if eq .Type "nbde" }}
            tang:
            {{- range .Tang }}
                - url: "{{ .URL }}"
                  thumbprint: "{{ .Thumbprint }}"
            {{- end }}
          {{- end }}
          options: [--cipher, aes-cbc-essiv:sha256]
          wipeVolume: true
      filesystems:
        - device: /dev/mapper/root
          format: xfs
          wipeFilesystem: true
          label: root 
  {{- if eq .Type "nbde" }}
    systemd:
      units:
        - name: "initramfs-network-config-sync.service"
          enabled: true
          contents: |
            [Unit]
            Description=Sync the main system network configuration into initramfs for consistency at boot
            After=NetworkManager.service
            ConditionKernelCommandLine=ignition.firstboot

            [Service]
            Type=simple
            ExecStart=/bin/bash -c "/bin/rpm-ostree initramfs-etc --track /etc/NetworkManager && /bin/rpm-ostree status && /bin/systemctl reboot"

            [Install]
            WantedBy=default.target
    kernelArguments:
      - rd.neednet=1
  {{- end }}
{{- end }}{{ end }}
