cluster: {{ provisioner_cluster_name }}
version: stable
tag: {{ provisioner_cluster_version }}
disk_size: 80
kube: ocp
numcpus: 4
masters: 3
master_memory: 16384
worker_memory: 16384
bootstrap_memory: 8192
domain:  {{ provisioner_cluster_domain }}
masters: 3
workers: 0
network: {{ provisioner_cluster_name }}
disconnected_deploy: true
disconnected_reuse: true
disconnected_origin: quay.io
disconnected_disk_size: 400
pool: default
api_ip: {{ provisioner_cluster_api_ip }}
ingress_ip: {{ provisioner_cluster_ingress_ip }}
extra_master_disks:
  - 20
  - 20
  - 20
  - 20
  - 20
