[defaults]
host_key_checking = False
inventory = ./inventory
roles_path = ./roles
library = library
remote_tmp = /tmp
command_warnings = True
ansible_managed = "This file is managed by Ansible - changes may be lost"
retry_files_enabled = False
forks = 4
stdout_callback = yaml
bin_ansible_callbacks = True
callback_whitelist = debug,profile_tasks

[privilege_escalation]
become_method = sudo
