apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: redhat-operators
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  image: {{ provisioner_cluster_registry_var }}/olm/redhat-operator-index:v{{ provisioner_cluster_version.split('.')[0] }}.{{ provisioner_cluster_version.split('.')[1] }}
  displayName: Temp Lab
  publisher: templab
  updateStrategy:
    registryPoll:
      interval: 30m
