#!/bin/bash

export LOCAL_REGISTRY={{ provisioner_cluster_registry_var }}
export LOCAL_REGISTRY_IMAGE_TAG=olm

for packagemanifest in $(oc get packagemanifest -n openshift-marketplace -o name) ; do
  for package in $(oc get $packagemanifest -o jsonpath='{.status.channels[*].currentCSVDesc.relatedImages}' | sed "s/ /\n/g" | tr -d '[],' | sed 's/"/ /g') ; do
    skopeo copy --dest-tls-verify=False docker://$package docker://$LOCAL_REGISTRY/$LOCAL_REGISTRY_IMAGE_TAG/openshift4-$(basename $package) --all --authfile $XDG_RUNTIME_DIR/containers/auth.json
  done
done
