apiVersion: operator.openshift.io/v1alpha1
kind: ImageContentSourcePolicy
metadata:
  name: lso-hive-index
spec:
  repositoryDigestMirrors: 
  - mirrors:
    - {{ provisioner_cluster_registry_var }}/olm/openshift4-ose-local-storage-static-provisioner
    source: registry.redhat.io/openshift4/ose-local-storage-static-provisioner
  - mirrors:
    - {{ provisioner_cluster_registry_var }}/olm/openshift4-ose-local-storage-operator-bundle
    source: registry.redhat.io/openshift4/ose-local-storage-operator-bundle
  - mirrors:
    - {{ provisioner_cluster_registry_var }}/olm/openshift4-ose-local-storage-operator
    source: registry.redhat.io/openshift4/ose-local-storage-operator
  - mirrors:
    - {{ provisioner_cluster_registry_var }}/olm/openshift4-ose-local-storage-diskmaker
    source: registry.redhat.io/openshift4/ose-local-storage-diskmaker
  - mirrors:
    - {{ provisioner_cluster_registry_var }}/olm/openshift-community-operators-hive-operator
    source: quay.io/openshift-community-operators/hive-operator
  - mirrors:
    - {{ provisioner_cluster_registry_var }}/olm/openshift-hive-hive
    source: quay.io/openshift-hive/hive
