#!/bin/bash
# Disconnected Operator Catalog Mirror and Minor Upgrade
# Variables to set, suit to your installation

export OCP_REGISTRY=quay.io/openshift-release-dev/ocp-release
export OCP_RELEASE={{ provisioner_cluster_version.split('.')[0] }}.{{ provisioner_cluster_version.split('.')[1] }}
export ARCHITECTURE=x86_64
export SIGNATURE_BASE64_FILE="signature-sha256-$OCP_RELEASE.yaml"
export OCP_PULLSECRET_AUTHFILE='{{ pull_secret_path }}'
export LOCAL_REGISTRY={{ provisioner_cluster_registry_var }}
export LOCAL_REGISTRY_MIRROR_TAG=/ocp4/openshift4
export LOCAL_REGISTRY_IMAGE_TAG=olm

# Set these values to true for the catalog and miror to be created
export RH_OP='true'
export CERT_OP='false'
export COMM_OP='true'
export MARKETPLACE_OP='false'

export RH_OP_INDEX="registry.redhat.io/redhat/redhat-operator-index:v${OCP_RELEASE}"
export CERT_OP_INDEX="registry.redhat.io/redhat/certified-operator-index:v${OCP_RELEASE}"
export COMM_OP_INDEX="registry.redhat.io/redhat/community-operator-index:v${OCP_RELEASE}"
export MARKETPLACE_OP_INDEX="registry.redhat.io/redhat-marketplace-index:v${OCP_RELEASE}"

podman_login() {
podman login --tls-verify=false $LOCAL_REGISTRY --username {{ provisioner_cluster_registry_user }} --password {{ provisioner_cluster_registry_password }}
podman login registry.redhat.io --username {{ redhat_subscription_user }} --password {{ redhat_subscription_password }}

}

podman_login

# disable the default operatorhub sources
oc patch OperatorHub cluster --type json -p '[{"op": "add", "path": "/spec/disableAllDefaultSources", "value": true}]'

# redhat operator index
opm index prune \
-f registry.redhat.io/redhat/redhat-operator-index:v${OCP_RELEASE} \
-p local-storage-operator \
-i registry.redhat.io/openshift4/ose-operator-registry:v${OCP_RELEASE} \
-t $LOCAL_REGISTRY/olm/redhat-operator-index:v${OCP_RELEASE}

podman push --tls-verify=false $LOCAL_REGISTRY/olm/redhat-operator-index:v${OCP_RELEASE}

# mirror the operator catalog
oc adm catalog mirror \
$LOCAL_REGISTRY/olm/redhat-operator-index:v${OCP_RELEASE} \
$LOCAL_REGISTRY/olm \
-a $XDG_RUNTIME_DIR/containers/auth.json \
--insecure \
--index-filter-by-os='linux/amd64'

# apply the generated imageContentSourcePolicy
PATH_RESULT=$(find ./ -name imageContentSourcePolicy.yaml)
oc create -f $PATH_RESULT
rm -f $PATH_RESULT

# now community
opm index prune \
-f registry.redhat.io/redhat/community-operator-index:v${OCP_RELEASE} \
-p hive-operator \
-t $LOCAL_REGISTRY/olm/community-operator-index:v${OCP_RELEASE}

podman push --tls-verify=false $LOCAL_REGISTRY/olm/community-operator-index:v${OCP_RELEASE}

# mirror the operator catalog
oc adm catalog mirror \
$LOCAL_REGISTRY/olm/community-operator-index:v${OCP_RELEASE} \
$LOCAL_REGISTRY/olm \
-a $XDG_RUNTIME_DIR/containers/auth.json \
--insecure \
--index-filter-by-os='linux/amd64'

# apply the generated imageContentSourcePolicy
PATH_RESULT=$(find ./ -name imageContentSourcePolicy.yaml)
oc create -f $PATH_RESULT
rm -f $PATH_RESULT
