#!/bin/bash
# Disconnected Operator Catalog Mirror and Minor Upgrade
# Variables to set, suit to your installation

export OCP_REGISTRY=quay.io/openshift-release-dev/ocp-release-nightly
export OCP_RELEASE={{ ocp_release_nightly_version }}
export LOCAL_REGISTRY={{ provisioner_cluster_registry_var }}
export LOCAL_REPOSITORY=ocp4
export AUTH_FILE="{{ pull_secret_path }}"

# generate new auth file with merged creds
jq -s '.[0] * .[1]' $AUTH_FILE $XDG_RUNTIME_DIR/containers/auth.json > ./merged_creds.json

oc adm -a ./merged_creds.json release new --insecure \
       --from-release={{ sno_image }} \
       --mirror=${LOCAL_REGISTRY}/${LOCAL_REPOSITORY} \
       --to-image=${LOCAL_REGISTRY}/${LOCAL_REPOSITORY}:{{ sno_image.split(':')[1] }}
