{{- define "allowLabels" }}
{{- $prefixes := slice . 1 }}
{{- $result := dict }}
{{- range $key, $value := (index . 0) }}
    {{- range $prefix := $prefixes }}
        {{- if (hasPrefix $prefix $key) }}
            {{- $_ := set $result $key $value }}
        {{- end }}
    {{- end }}
{{- end }}
{{- $result | toYaml | nindent 4 }}
{{- end }}

{{- define "requiredLabels" }}
{{- $labels := slice . 1 }}
{{- $result := dict }}
{{- range $label := $labels }}
    {{- $_ := merge $result ($label | fromYaml) }}
{{- end }}
{{- $result | toYaml | nindent 4 }}
{{- end }}
