{{- define "unorderedList" }}
{{- $result := list }}
{{- $expectedArgs := index . 1 }}
{{- range $value := (index . 0) }}
  {{- if has $value $expectedArgs }}
    {{- $result = append $result $value }}
    {{- $expectedArgs = without $expectedArgs $value }}
  {{- end }}
{{- end }}
{{- range $value := $expectedArgs }}
  {{- $result = append $result $value }}
{{- end }}
{{- $result | toYaml | nindent 4 }}
{{- end }}
