[all:vars]

pull_secret='<your_pull_secret as one line text without special characters>'
ssh_public_key="<your_ssh_key>"

temporary_path=/tmp

# provisioner cluster, just set it if you need to deploy a provisioner cluster
provisioner_cluster_name=test-operator
provisioner_cluster_domain=cluster.testing
provisioner_ipv6_range=1001:db9::/64
default_libvirt_range=192.168.122.0/24
provisioner_cluster_version=4.7.3
provisioner_cluster_api_ip=1001:db9::250
provisioner_cluster_ingress_ip=1001:db9::25
# set it to a disk that has a minimum of 350gb, for mirroring
provisioner_cluster_libvirt_pool=/pool
# if you use your own cluster, provide kubeconfig credentials. if not, the settings
# for the default ipv6 cluster that is created with the playbooks will be used
#provisioner_cluster_kubeconfig=/root/.kcli/clusters/test-operator/auth/kubeconfig
# the openshift nigtly image to use
ocp_release_nightly_version=4.8.0-0.nightly-2021-04-02-163543
# url for the rhcos image that will be mirrored into our installer
rhcos_remote_url=https://releases-art-rhcos.svc.ci.openshift.org/art/storage/releases/rhcos-4.8/48.83.202103221318-0/x86_64/rhcos-48.83.202103221318-0-live.x86_64.iso
# paths for the disks on masters, that will be used for local storage
device_paths=[ '/dev/vdb', '/dev/vdc', '/dev/vdd', '/dev/vde', '/dev/vdf' ]

# openshift versions
openshift_versions={'4.8':'ocp-release-nightly:4.8.0-0.nightly-2021-03-16-221720'}

# optional, if you use an external registry
#icsp_content=""
#registry_cert=""

[provisioner]
# host from where the installation is performed
#<remote_ip> ansible_connection=ssh
localhost ansible_connection=local
