policygenerator/policygenerator
policygenerator/out
policygenerator-kustomize-plugin/kustomize
policygenerator-kustomize-plugin/out
siteconfig-generator/siteconfig-generator
siteconfig-generator-kustomize-plugin/kustomize
siteconfig-generator-kustomize-plugin/out
resource-generator/out
